*{
  margin: 0;
  padding: 0;
}

html, body, #root{
  height: 100%;
  width: 100%;
}


@font-face {
  font-family: "However";
  src: url("./assets/Fonts/However.ttf");

  font-weight: 1 1000;
}

@font-face {
  font-family: "Aeonik";
  src: url("./assets/Fonts/Aeonik.otf");

  font-weight: 1 1000;
}

@font-face {
  font-family: "Monument Extended";
  src: url("./assets/Fonts/MonumentExtended-Regular.otf");

  font-weight: 1 1000;
}

@font-face {
  font-family: "Nohemi";
  src: url("./assets/Fonts/Nohemi-Regular.ttf");

  font-weight: 1 1000;
}

@font-face {
  font-family: "Satoshi";
  src: url("./assets/Fonts/Satoshi-Variable.ttf");
  font-weight: 1 1000;
}
